<p style="color: green"><%= notice %></p>
<div class="card" style="width: 18rem;">
  <ul class="list-group list-group-flush">
    <li class="list-group-item"> <b> Given Name </b>  : <%= @friend.first_name %></li>
    <li class="list-group-item"><b> Family Name </b>  : <%= @friend.last_name %></li>
    <li class="list-group-item"><b> Email </b>  : <%= @friend.email %></li>
    <li class="list-group-item"><b> Phone </b>  : <%= @friend.phone %></li>
  </ul>
  <div class="card-footer">
  <%= link_to "Edit this friend", edit_friend_path(@friend), class:'btn btn-secondary m-1' %> 
  <%= link_to "Back to friends", friends_path, class:'btn btn-secondary m-1' %>
  <%= link_to "Destroy this friend", @friend, method: :delete, class:'btn btn-dark m-1' %>  </div>
</div>
